<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Welcome <%= current_user.username %> !</p>

<li>Username: <%= current_user.username %></li>
<li>First name: <%= current_user.last_name %></li>
<li>Last Name: <%= current_user.first_name %></li>
<li>Phone: <%= current_user.phone_number %></li>
<li>Title: <%= current_user.title %></li>
<li>Mail: <%= current_user.mail %></li>
<li>EmployeeID: <%= current_user.employee_number %></li>
<%= link_to  "Sign out", destroy_user_session_path %>
